body {
    background-color: #1d1d1d; /* Dark background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.calculator {
    border: 2px solid white;
    display: block;
    padding: 25px;
    margin: 50px auto;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    background-color: #333;
    max-width: 300px;
}

.num {
    background-color: #333;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.num button {
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    color: #333;
    background-color: white;
    font-size: 20px;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

.num button:hover {
    background-color: #ddd; /* Light hover effect */
    font-size: 18px;
    color: #1d1d1d;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.screen input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    width: 240px;
    height: 40px;
    font-size: 20px;
    background-color: #b2b0b0;
    text-align: right;
    padding-right: 10px;
}

/* Optional: Style the AC and = buttons differently */
.ac button{
    background-color: red; /* AC button */
    color: white;
}

.equlity button{
    background-color:green;
    color: white;
}